@import url("./reset.css");
@import url("./tokens.css");

html,
body {
  font-family: var(--typography-family-sans);
  font-size: 14px;
  line-height: var(--typography-line-height-body);
  color: var(--color-primary);
  padding: var(--size-base-8);
  background: var(--component-base);
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-base-6);
}

.TokenTable {
  & h2 {
    margin-bottom: var(--size-base-5);
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--component-border);
    font-size: var(--size-font-body);

    & tbody {
      height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    & tr:nth-child(even) {
      background: var(--component-background-secondary);
    }

    & th,
    & td {
      text-align: left;
      padding: var(--size-base-2);
      border: 1px solid var(--component-border);
    }
    & th {
      background: var(--component-background-secondary);
    }

    & td {
      font-family: var(--typography-family-code);
    }
  }
}

.foundation-swatch {
  display: flex;
  align-items: center;

  & .swatch {
    width: var(--size-base-5);
    height: var(--size-base-5);
    margin-right: var(--size-base-5);
    border-radius: var(--size-border-radius-pill);
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-base-5);
  padding: var(--size-base-5);
  position: sticky;
  top: 0;
  background: var(--component-background);
}

pre {
  display: flex;
  margin: var(--size-base-2) 0;
  height: auto;

  & code {
    margin: 0;
    padding: var(--size-base-2);
    font-family: var(--typography-family-code);
    font-size: var(--size-font-footnote);
    border-radius: var(--size-border-radius-4);
    background: var(--component-background-secondary);
    border: 1px solid var(--component-border);
    display: block;
  }
}

.footer {
  margin-top: var(--size-base-5);
}
